body {
  font-family: 'Roboto', sans-serif;
  background-color: #1EA898;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.bg-barra {
  background-color: rgb(255, 0, 0);
}

.contenido {
  width: 80%;
  /* centrar */
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.video-youtube {
  width: 60%;
  height: 450px;
  /* redondeado */
  border-radius: 15px;
  /* sombra */
  box-shadow: 0px 0px 10px rgba(87, 87, 87, 0.75);
  /* PUNTOS SEGMENTADOS*/
  border: 5px dashed #ffffff;
}

.bg_pago{
  background-color: #ffffff;
  margin-bottom: 5px;
}
.call_to-btn {
  display: inline-block;
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 25px;
  background-color: #12c70c;
  color: #262627;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}


.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}


.footer_section {
  background-color: #d8b109;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;

}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}



/* end footer section*/

.img_libro {
  width: 100%;
}

.img_titulo {
  width: 80%;

}

.text_contenido {
  font-size: 22.5px;
}

.img_pack {
  width: 70%;
  margin: 5px;
}

.secction_preguntasFrecuentes {
  background-color: #6ebca8;
}

.section_testimonios {
  background-color: #6ebca8;
}

.img_compraSegura {
  width: 50%;
}

.section_compraSegura {
  background-color: #000000;
}

.img_principal {
  filter: drop-shadow(0px 0px 10px rgba(87, 87, 87, 0.75)) !important;

}
.precio-tachado {
  text-decoration: line-through;
  color: red; /* Opcional: cambia el color del texto tachado */
}

@media (max-width: 768px) {
  .contenido {
    width: 90%;
  }

  .video-youtube {
    width: 95%;
    height: 220px;

  }
  .img_compraSegura
  {
     /* centrar */
       display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
  }
  .img_testimonio
  {
     /* centrar */
       display: block;
          margin-left: auto;
          margin-right: auto;
          width: 95%;
          
  }
}

